PORT=5001
NODE_ENV=production
JWT_SECRET=
ADMIN_USERNAME=
ADMIN_PASSWORD_HASH=
FRONTEND_URL=https://portal.vncosurveys.com
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=